/*****************************************
				VARIABLES
*****************************************/

$blue: #279DD8;
$dark-blue: adjust-color($blue, $saturation: 6, $lightness: -5);
$black: #0A0A0A;

/* MEDIA QUERY SIZES */
$mobile: "max-width: 568px";
$mobile-lg: "min-width: 375px";
$tablet: "min-width: 569px";
$desktop: "min-width: 769px";
$desktop-lg: "min-width: 1200px";



/*****************************************
			  HTML STYLES
*****************************************/

body {
	@extend .dark-bg;

	font-family: "OmnesMSC", sans-serif;
	background: $black;

	@media ($desktop) {
		font-size: 17px;
	}

	@media ($desktop-lg) {
		font-size: 18px;
	}
}

a {
	color: white;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

h1, h2, h3 {
	font-weight: 400;
	letter-spacing: .03em;
}

input {
	padding-left: 5px;
	height: 38px;
	font-family: "OmnesMSC", sans-serif;
	font-size: 17px;
	border-radius: 2px;
	-webkit-appearance: none;
	border: none;
	box-shadow: inset 0 1px 3px rgba(black, .5);
}



/*****************************************
				HELPERS
*****************************************/

.ir {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.dark-bg {
    color: white;
    -webkit-font-smoothing: antialiased;
}

.ellipses {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.ul-reset {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.center {
	text-align: center;
}

@mixin always($color) {
    &,
    &:hover,
    &:focus,
    &:active,
    &:hover:active,
    &:focus:active {
        color: $color;
    }
}



/*****************************************
				MODULES
*****************************************/

body.philo-no .if-philo-yes,
body:not(.philo-no) .if-philo-no,
body.cookie-yes .if-cookie-no,
body:not(.cookie-yes) .if-cookie-yes {display: none !important;}

@media ($mobile) {
	.no-mobile {
		display: none !important;
	}
}

@media ($tablet) {
	.mobile-only {
		display: none !important;
	}
}

.btn {
	display: inline-block;
	padding: 0 22px;
	height: 44px;
	line-height: 46px;
	font-size: 15px;
	font-weight: 500;
	letter-spacing: .8px;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	border-radius: 5px;
	background-color: $blue;
	box-shadow: 0 1px 3px rgba(black, .5);
	transition: background-color .1s ease;

	&:hover {
		background-color: $dark-blue;
		text-decoration: none;
	}

	&:focus {
		outline: none;
	}
}

.btn--watch {
	position: relative;
	padding-left: 45px;

	&:before {
		content: url(../img/icons/play.png);
		position: absolute;
		top: 6px;
		left: 12px;
	}
}

.btn--outline {
	border-radius: 2px;
	line-height: 42px;
	background: none;
	border: 1px solid white;
	text-transform: none;

	&:hover {
		background-color: rgba(white, .07);
	}
}

.btn--disabled {
	$disabled: mix(white, $black, 10);
	color: rgba(white, .5);
	background-color: $disabled;
	cursor: default;

	&:hover {
		background-color: $disabled;
	}

	&:before {
		content: url(../img/icons/exclamation-point.png);
	}
}

.no-philo-links {
	margin-top: -2px;
	font-size: 13px;
	color: $blue;
	font-weight: 500;
	text-align: center;
	text-shadow: 0 1px 9px $black;

	> a {
		color: $blue;
		transition: color .1s ease;

		&:hover {
			color: $dark-blue;
		}
	}
}

.app-stores {
	margin-bottom: 10px;

	> a {
		@extend .ir;

		display: inline-block;
		width: 142px;
		height: 48px;
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: contain;

		@media ($desktop) {
			opacity: .8;

			&:hover {
				opacity: 1;
			}
		}
	}

	.app-stores__apple {
		background-image: url(../img/app-store-apple.png);
	}

	.app-stores__google {
		background-image: url(../img/app-store-google.png);
	}

	.app-stores__roku {
		background-image: url(../img/app-store-roku.png);
	}
}

input.icon {
	background-repeat: no-repeat;
	background-position: 10px center;
	padding-left: 35px;

	&.icon--compass {background-image: url(../img/icons/compass.png);}
	&.icon--tv {background-image: url(../img/icons/tv-sm.png);}
}

.dropdown {
	$dropdown: adjust-color($black, $lightness: 5);

	position: relative;

	> a + ul {
		@extend .ul-reset;

		display: none;
		position: absolute;
		border-radius: 5px;
		top: 115%;
		right: 0;
		padding: 5px 0;
		background-color: $dropdown;
		box-shadow: 0 0 0 1px white,
					0 2px 10px black;
		z-index: 2;

		&:before {
			content: "";
			position: absolute;
			top: -7px;
			right: 7px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 8px 7px 8px;
			border-color: transparent transparent white transparent;
		}

		&:after {
			content: "";
			position: absolute;
			top: -6px;
			right: 8px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 7.5px 6px 7.5px;
			border-color: transparent transparent $dropdown transparent;
		}

		> li > a {
			display: block;
			padding: 0 12px;
			line-height: 40px;
			white-space: nowrap;
			transition: background-color .1s ease;

			&:hover {
				text-decoration: none;
				background-color: rgba(white, .05);
			}
		}

		@media ($desktop) {
			left: 0;
			right: auto;

			&:before {
				left: 7px;
				right: auto;
			}

			&:after {
				left: 8px;
				right: auto;
			}
		}
	}

	> a.active + ul {
		display: block;
	}
}

.page-down {
	display: block;
	margin: 0 auto;
	width: 48px;
	height: 48px;
}



/*****************************************
			  PAGE STYLES
*****************************************/

header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 10px;

	.philo-logo {
		display: block;
		margin: 12px auto;
		width: 86px;
		height: 42px;
		background-image: url(../img/philo-logo.png);
		background-repeat: no-repeat;
		background-size: contain;

		@media ($desktop) {
			width: 106px;
			height: 52px;
		}
	}

	.nav-items {
		@extend .ul-reset;

		display: flex;
		justify-content: space-around;
		order: 1;
		width: 100%;
		background: rgba(white, .05);
		height: 44px;

		> li {
			height: 100%;

			> a {
				display: block;
				height: 100%;
				line-height: 46px;
			}
		}
	}

	li.nav-item--dropdown {

		> a:after {
			content: url(../img/icons/down-arrow.png);
			position: relative;
			top: -3px;
			margin-left: 6px;
		}

		> ul {
			display: none;
		}
	}

	.watch-button {
		margin: 10px auto;
		text-align: center;

		.btn.btn--watch.btn--disabled {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}

	@media ($tablet) {
		.philo-logo {
			margin: 12px;
		}

		.watch-button {
			margin: 10px;
		}
	}

	@media ($desktop) {
		flex-wrap: nowrap;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		padding: 30px 10px;
		height: 120px;
		z-index: 10;
		background-image: linear-gradient(to top,
			rgba($black, .00),
			rgba($black, .70) 20%,
			rgba($black, .90) 40%,
			rgba($black, .98));
		background-repeat: no-repeat;
		background-position-y: -60px;
		transition: all 1s ease;

		&.is-scrolled {
			background-position-y: 0px;
		}

		.philo-logo {
			margin: 0;
		}

		.nav-items {
			width: auto;
			order: 0;
			flex-grow: 1;
			background: transparent;
			justify-content: flex-start;

			> li {
				margin-left: 20px;
			}
		}

		.watch-button {
			margin: 0;
			padding-top: 0;
		}
	}

	@media ($desktop-lg) {
		padding: 30px 50px 20px;

		.nav-items {
			margin-right: 20px;

			> li {
				margin-left: 40px;

				> a {
					line-height: 40px;
				}
			}
		}

		li.nav-item--dropdown {

			> a {
				padding: 0 12px;
				height: 40px;
				border-radius: 2px;
				border: 1px solid white;

				&:hover {
					text-decoration: none;
					background-color: rgba(white, .07);
				}

				&:after {
					margin-left: 12px;
				}
			}
		}
	}
}

.splash {
	position: relative;
	height: 380px;
	text-align: center;
	background: url(../img/football.png) center top;
	background-size: cover;
	background-repeat: no-repeat;

	> h1 {
		margin: 0;
		padding-top: 30px;
		text-align: center;
		font-size: 13vw;
		font-weight: 300;
		text-shadow: 0 2px 4px rgba(black, .5);
		line-height: 100%;
	}

	> h2 {
		margin-top: 3vh;
		font-size: 5vw;
		font-weight: 400;
		text-align: center;
		text-shadow: 0 2px 4px rgba(black, .5);
	}

	.splash__fade {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 8vh;
		background-image: linear-gradient(to bottom, rgba($black, 0), rgba($black, 100));
	}

	.app-stores {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		text-align: center;
		z-index: 2;
	}

	.page-down {
		display: none;
	}

	@media ($tablet) {
		height: 0;
		padding-bottom: 61%;

		> h1 {
			padding-top: 10%;
		}

		> h2 {
			font-size: 3.5vw;
		}

		.btn {
			padding: 0 28px;
			height: 54px;
			font-size: 17px;
			line-height: 55px;

			&.btn--watch {
				padding-left: 45px;
			}
		}

		.app-stores {
			position: relative;

			> a:not(:last-child) {
				margin-right: 10px;
			}
		}
	}

	@media ($desktop) {
		> h1 {
			padding-top: 20%;
			font-size: 6vh;
		}

		> h2 {
			font-size: 3.1vh;
		}

		.page-down {
			display: block;
			position: absolute;
			bottom: 20px;
			left: 0;
			right: 0;
			opacity: .8;
			z-index: 2;
			transition: opacity .1s ease;

			&:hover {
				opacity: 1;
			}
		}
	}

	@media ($desktop-lg) {
		> h1 {
			font-size: 8vh;
		}

		.app-stores {
			margin-top: 30px;
		}
	}
}

.feature {
	border-bottom: 1px solid rgba(white, .1);

	.feature__text {
		margin: 0 auto;
		padding: 10px;
		max-width: 500px;

		h1 {
			margin-bottom: 8px;
			font-size: 28px;
			font-weight: 300;

			img {
				position: relative;
				top: -2px;
				left: -2px;
				margin-right: 13px;
			}
		}

		p {
			margin-top: 0;
		}
	}

	@media ($desktop) {
		.feature__wrapper {
			display: flex;
			justify-content: space-between;
			height: 500px;
		}

		.feature__text {
			margin: 0;
			align-self: center;

			h1 {
				font-size: 32px;
			}
		}
	}

	@media ($desktop-lg) {
		.feature__wrapper {
			margin: 0 auto;
			padding: 0 100px;
			max-width: 1640px;
			height: 600px;
		}

		.feature__text {
			h1 {
				font-size: 42px;
			}

			p {
				font-size: 20px;
			}
		}
	}
}

.feature--live {
	.feature__img {
		padding: 30px 10px 0;

		img {
			display: block;
			margin: 0 auto;
			max-width: 100%;
		}
	}

	@media ($desktop) {

		.feature__img {
			align-self: center;
			order: 1;
			margin-right: 30px;
			min-width: 40%;
		}

		.feature__text {
			padding: 30px 10px;
		}
	}

	@media ($desktop) {
		.feature__img {
			margin: 0;
		}
	}
}

.feature--dvr {
	position: relative;
	height: 600px;
	background-color: adjust-color($black, $lightness: -1);
	overflow: hidden;

	.feature__img {
		position: relative;
		margin-left: -100px;
		z-index: 1;

	 	img {
			position: absolute;
			transform: scale(.7);

			&[data-speed=".1"] {width: (135px*.65); z-index: 6;}
			&[data-speed=".2"] {width: (135px*.5); z-index: 5;}
			&[data-speed=".3"] {width: (135px*.4); z-index: 4;}
			&[data-speed=".4"] {width: (135px*.2); z-index: 3;}

			&:nth-child(1)  {top: 25px;		left: 32%;}
			&:nth-child(2)  {top: 410px;	left: 65%;}
			&:nth-child(3)  {top: 240px;	left: -1%;}
			&:nth-child(4)  {top: 505px;	left: 29%;}
			&:nth-child(5)  {top: 378px;	left: 95%;}
			&:nth-child(6)  {top: 17px;		left: 5%;}
			&:nth-child(7)  {top: 487px;	left: 35%;}
			&:nth-child(8)  {top: 149px;	left: 22%;}
			&:nth-child(9)  {top: 353px;	left: 78%;}
			&:nth-child(10) {top: 54px;		left: 52%;}
			&:nth-child(11) {top: 93px;		left: 77%;}
		}

		@media ($desktop) {
			min-width: 50%;

			img {
				&[data-speed=".1"] {width: (135px*1); z-index: 6;}
				&[data-speed=".2"] {width: (135px*.8); z-index: 5;}
				&[data-speed=".3"] {width: (135px*.6); z-index: 4;}
				&[data-speed=".4"] {width: (135px*.4); z-index: 3;}
			}
		}
	}

	.feature__text {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba($black, .9);
		z-index: 2;

		@media ($desktop) {
			position: relative;
			align-self: center;
		}
	}
}

.feature--device {
	overflow-y: hidden;

	h1 {
		letter-spacing: 0;
	}

	.single img {
		position: relative;
		left: 70%;
		margin: 40px 0 10px;
		transform: translateX(-50%);
	}

	.multi {
		display: none;
	}

	@media ($mobile-lg) {
		.single img {
			left: 50%;
		}
	}

	@media ($desktop) {

		.feature__img {
			order: 1;
			min-width: 50%;
			max-width: 50%;
			transform: scale(.8);
			align-self: center;

			.single {
				display: none;
			}

			.multi {
				display: block;
				position: relative;
				height: 412px;

				img {
					position: absolute;

					&:nth-child(1) {
						top: 311px;
						left: 0;
						z-index: 2;
					}

					&:nth-child(2) {
						top: 145px;
						left: 125px;
					}

					&:nth-child(3) {
						top: 203px;
						left: 227px;
						z-index: 2;
					}

					&:nth-child(4) {
						left: 314px;
					}
				}
			}
		}
	}

	@media ($desktop-lg) {
		.feature__img {
			transform: scale(1.0);
		}
	}
}

.bring-philo-to-you {
	padding-top: 1px; /*to contain margins*/

	> h1 {
		margin: 40px 0 35px;
		font-size: 25px;
		text-align: center;
	}

	.philo-for__x {
		margin-bottom: 20px;
		padding: 5px;

		> h2 {
			margin: 0 0 14px;
			font-size: 27px;
			font-weight: 300;
			text-align: center;

			> img {
				display: block;
				margin: 17px auto 4px;
			}
		}

		> img {
			width: 100%;
		}

		.btn {
			width: 100%;
		}
	}

	@media ($tablet) {
		> h1 {
			margin: 70px auto;
			font-size: 48px;
			font-weight: 300;
		}

		.philo-for {
			display: flex;
			margin: 0 auto;
			max-width: 1540px;

			.philo-for__x {
				flex-basis: 50%;
				margin: 0 5px;
			}

			.btn {
				width: auto;
			}
		}
	}

	@media ($desktop) {
		> h1 {
			margin: 100px auto;
			font-size: 58px;
		}

		.philo-for .philo-for__x {
			margin: 0 20px;
			padding: 0 3vw;

			> h2 {
				margin: 25px 0 15px;
				font-size: 32px;
				text-align: left;

				> img {
					display: inline-block;
					margin: 0 15px 0 0;
				}
			}

			.btn {
				margin: 0 0 70px;
			}
		}
	}

	@media ($desktop-lg) {
		.philo-for .philo-for__x > h2 {
			font-size: 42px;
		}
	}
}

footer {
	position: relative;
	top: -1px;
	padding: 45px 20px;
	background: $black;
	z-index: 2;

	.cols {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 auto;
		max-width: 960px;

		.col {
			@extend .ul-reset;

			flex-grow: 1;
			flex-basis: 50%;
			margin-bottom: 30px;
			min-width: 140px;
			max-width: 240px;

			> li {
				@extend .ellipses;

				font-size: 18px;

				> a {
					display: inline-block;
					height: 44px;
					line-height: 46px;
					font-size: 16px;
					opacity: .7;

					&:hover {
						opacity: 1;
					}

					> img {
						margin-right: 10px;
						opacity: .7;
					}
				}
			}
		}
	}

	.app-stores {
		margin: 0 -20px;
		text-align: center;
	}

	.footnote {
		font-size: 15px;
		font-weight: 300;
		text-align: center;
		opacity: .5;
	}

	@media ($tablet) {

		border-top: 1px solid rgba(white, .05);

		.cols .col {
			flex-basis: 25%;
		}
	}

	@media ($desktop) {
		padding-top: 100px;
	}
}