/*****************************************
				VARIABLES
*****************************************/
/* MEDIA QUERY SIZES */
/*****************************************
			  HTML STYLES
*****************************************/
body {
  font-family: "OmnesMSC", sans-serif;
  background: #0A0A0A; }
  @media (min-width: 769px) {
    body {
      font-size: 17px; } }
  @media (min-width: 1200px) {
    body {
      font-size: 18px; } }

a {
  color: white;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

h1, h2, h3 {
  font-weight: 400;
  letter-spacing: .03em; }

input {
  padding-left: 5px;
  height: 38px;
  font-family: "OmnesMSC", sans-serif;
  font-size: 17px;
  border-radius: 2px;
  -webkit-appearance: none;
  border: none;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5); }

/*****************************************
				HELPERS
*****************************************/
.ir, .app-stores > a {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }

.dark-bg, body {
  color: white;
  -webkit-font-smoothing: antialiased; }

.ellipses, footer .cols .col > li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.ul-reset, .dropdown > a + ul, header .nav-items, footer .cols .col {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.center {
  text-align: center; }

/*****************************************
				MODULES
*****************************************/
body.philo-no .if-philo-yes,
body:not(.philo-no) .if-philo-no,
body.cookie-yes .if-cookie-no,
body:not(.cookie-yes) .if-cookie-yes {
  display: none !important; }

@media (max-width: 568px) {
  .no-mobile {
    display: none !important; } }
@media (min-width: 569px) {
  .mobile-only {
    display: none !important; } }
.btn {
  display: inline-block;
  padding: 0 22px;
  height: 44px;
  line-height: 46px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: .8px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  background-color: #279DD8;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  transition: background-color .1s ease; }
  .btn:hover {
    background-color: #1c90c9;
    text-decoration: none; }
  .btn:focus {
    outline: none; }

.btn--watch {
  position: relative;
  padding-left: 45px; }
  .btn--watch:before {
    content: url(../img/icons/play.png);
    position: absolute;
    top: 6px;
    left: 12px; }

.btn--outline {
  border-radius: 2px;
  line-height: 42px;
  background: none;
  border: 1px solid white;
  text-transform: none; }
  .btn--outline:hover {
    background-color: rgba(255, 255, 255, 0.07); }

.btn--disabled {
  color: rgba(255, 255, 255, 0.5);
  background-color: #232323;
  cursor: default; }
  .btn--disabled:hover {
    background-color: #232323; }
  .btn--disabled:before {
    content: url(../img/icons/exclamation-point.png); }

.no-philo-links {
  margin-top: -2px;
  font-size: 13px;
  color: #279DD8;
  font-weight: 500;
  text-align: center;
  text-shadow: 0 1px 9px #0A0A0A; }
  .no-philo-links > a {
    color: #279DD8;
    transition: color .1s ease; }
    .no-philo-links > a:hover {
      color: #1c90c9; }

.app-stores {
  margin-bottom: 10px; }
  .app-stores > a {
    display: inline-block;
    width: 142px;
    height: 48px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain; }
    @media (min-width: 769px) {
      .app-stores > a {
        opacity: .8; }
        .app-stores > a:hover {
          opacity: 1; } }
  .app-stores .app-stores__apple {
    background-image: url(../img/app-store-apple.png); }
  .app-stores .app-stores__google {
    background-image: url(../img/app-store-google.png); }
  .app-stores .app-stores__roku {
    background-image: url(../img/app-store-roku.png); }

input.icon {
  background-repeat: no-repeat;
  background-position: 10px center;
  padding-left: 35px; }
  input.icon.icon--compass {
    background-image: url(../img/icons/compass.png); }
  input.icon.icon--tv {
    background-image: url(../img/icons/tv-sm.png); }

.dropdown {
  position: relative; }
  .dropdown > a + ul {
    display: none;
    position: absolute;
    border-radius: 5px;
    top: 115%;
    right: 0;
    padding: 5px 0;
    background-color: #171717;
    box-shadow: 0 0 0 1px white, 0 2px 10px black;
    z-index: 2; }
    .dropdown > a + ul:before {
      content: "";
      position: absolute;
      top: -7px;
      right: 7px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 8px 7px 8px;
      border-color: transparent transparent white transparent; }
    .dropdown > a + ul:after {
      content: "";
      position: absolute;
      top: -6px;
      right: 8px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 7.5px 6px 7.5px;
      border-color: transparent transparent #171717 transparent; }
    .dropdown > a + ul > li > a {
      display: block;
      padding: 0 12px;
      line-height: 40px;
      white-space: nowrap;
      transition: background-color .1s ease; }
      .dropdown > a + ul > li > a:hover {
        text-decoration: none;
        background-color: rgba(255, 255, 255, 0.05); }
    @media (min-width: 769px) {
      .dropdown > a + ul {
        left: 0;
        right: auto; }
        .dropdown > a + ul:before {
          left: 7px;
          right: auto; }
        .dropdown > a + ul:after {
          left: 8px;
          right: auto; } }
  .dropdown > a.active + ul {
    display: block; }

/*****************************************
			  PAGE STYLES
*****************************************/
header {
  padding-top: 10px; }
  header .philo-logo {
    display: block;
    margin: 0 auto 12px;
    width: 86px;
    height: 42px;
    background-image: url(../img/philo-logo.png);
    background-repeat: no-repeat;
    background-size: contain; }
    @media (min-width: 769px) {
      header .philo-logo {
        width: 106px;
        height: 52px; } }
  header .nav-items {
    display: flex;
    justify-content: space-around;
    background: rgba(255, 255, 255, 0.05);
    height: 44px; }
    header .nav-items > li {
      height: 100%; }
      header .nav-items > li > a {
        display: block;
        height: 100%;
        line-height: 46px; }
  header li.nav-item--dropdown > a:after {
    content: url(../img/icons/down-arrow.png);
    position: relative;
    top: -3px;
    margin-left: 6px; }
  header li.nav-item--dropdown > ul {
    display: none; }
  header .watch-button {
    text-align: center; }
    header .watch-button .btn.btn--watch.btn--disabled {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
  @media (min-width: 569px) {
    header {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      header .philo-logo {
        margin: 12px; }
      header .watch-button {
        margin: 10px; }
      header .nav-items {
        width: 100%;
        order: 1; } }
  @media (min-width: 769px) {
    header {
      flex-wrap: nowrap;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      padding: 30px 10px;
      height: 120px;
      z-index: 10;
      background-image: linear-gradient(to top, rgba(10, 10, 10, 0), rgba(10, 10, 10, 0.7) 20%, rgba(10, 10, 10, 0.9) 40%, rgba(10, 10, 10, 0.98));
      background-repeat: no-repeat;
      background-position-y: -60px;
      transition: all 1s ease; }
      header.is-scrolled {
        background-position-y: 0px; }
      header .philo-logo {
        margin: 0; }
      header .nav-items {
        width: auto;
        order: 0;
        flex-grow: 1;
        background: transparent;
        justify-content: flex-start; }
        header .nav-items > li {
          margin-left: 20px; }
      header .watch-button {
        margin: 0;
        padding-top: 0; } }
  @media (min-width: 1200px) {
    header {
      padding: 30px 50px 20px; }
      header .nav-items {
        margin-right: 20px; }
        header .nav-items > li {
          margin-left: 40px; }
          header .nav-items > li > a {
            line-height: 40px; }
      header li.nav-item--dropdown > a {
        padding: 0 12px;
        height: 40px;
        border-radius: 2px;
        border: 1px solid white; }
        header li.nav-item--dropdown > a:hover {
          text-decoration: none;
          background-color: rgba(255, 255, 255, 0.07); }
        header li.nav-item--dropdown > a:after {
          margin-left: 12px; } }

.splash {
  position: relative;
  height: calc(100vh - 108px);
  max-height: 568px;
  text-align: center;
  background: url(../img/football.png) center top;
  background-size: cover;
  background-repeat: no-repeat; }
  .splash > h1 {
    margin: 0;
    padding-top: 30px;
    text-align: center;
    font-size: 13vw;
    font-weight: 300;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    line-height: 100%; }
  .splash > h2 {
    margin-top: 3vh;
    font-size: 5vw;
    font-weight: 400;
    text-align: center;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); }
  .splash .splash__fade {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 8vh;
    background-image: linear-gradient(to bottom, rgba(10, 10, 10, 0), #0a0a0a); }
  .splash .app-stores {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center; }
  @media (min-width: 569px) {
    .splash {
      height: 100vh;
      max-height: none; }
      .splash > h1 {
        padding-top: 30vh; }
      .splash > h2 {
        font-size: 3.5vw; }
      .splash .btn {
        padding: 0 28px;
        height: 54px;
        font-size: 17px;
        line-height: 55px; }
        .splash .btn.btn--watch {
          padding-left: 45px; }
      .splash .app-stores {
        bottom: 5vh; }
        .splash .app-stores > a:not(:last-child) {
          margin-right: 10px; } }
  @media (min-width: 769px) {
    .splash > h1 {
      font-size: 8vh; }
    .splash > h2 {
      font-size: 3.1vh; }
    .splash .app-stores {
      margin-top: 70px; } }

.feature {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
  .feature .feature__text {
    margin: 0 auto;
    padding: 10px;
    max-width: 500px; }
    .feature .feature__text h1 {
      margin-bottom: 8px;
      font-size: 28px;
      font-weight: 300; }
      .feature .feature__text h1 img {
        position: relative;
        top: -2px;
        left: -2px;
        margin-right: 13px; }
    .feature .feature__text p {
      margin-top: 0; }
  @media (min-width: 769px) {
    .feature .feature__wrapper {
      display: flex;
      justify-content: space-between;
      height: 500px; }
    .feature .feature__text {
      margin: 0;
      align-self: center; }
      .feature .feature__text h1 {
        font-size: 32px; } }
  @media (min-width: 1200px) {
    .feature .feature__wrapper {
      margin: 0 auto;
      padding: 0 100px;
      max-width: 1640px;
      height: 600px; }
    .feature .feature__text h1 {
      font-size: 42px; }
    .feature .feature__text p {
      font-size: 20px; } }

.feature--live .feature__img {
  padding: 30px 10px 0; }
  .feature--live .feature__img img {
    display: block;
    margin: 0 auto;
    max-width: 100%; }
@media (min-width: 769px) {
  .feature--live .feature__img {
    align-self: center;
    order: 1;
    margin-right: 30px;
    min-width: 40%; }
  .feature--live .feature__text {
    padding: 30px 10px; } }
@media (min-width: 769px) {
  .feature--live .feature__img {
    margin: 0; } }

.feature--dvr {
  position: relative;
  height: 600px;
  background-color: #070707;
  overflow: hidden; }
  .feature--dvr .feature__img {
    position: relative;
    margin-left: -100px;
    z-index: 1; }
    .feature--dvr .feature__img img {
      position: absolute;
      transform: scale(0.7); }
      .feature--dvr .feature__img img[data-speed=".1"] {
        width: 87.75px;
        z-index: 6; }
      .feature--dvr .feature__img img[data-speed=".2"] {
        width: 67.5px;
        z-index: 5; }
      .feature--dvr .feature__img img[data-speed=".3"] {
        width: 54px;
        z-index: 4; }
      .feature--dvr .feature__img img[data-speed=".4"] {
        width: 27px;
        z-index: 3; }
      .feature--dvr .feature__img img:nth-child(1) {
        top: 25px;
        left: 32%; }
      .feature--dvr .feature__img img:nth-child(2) {
        top: 410px;
        left: 65%; }
      .feature--dvr .feature__img img:nth-child(3) {
        top: 240px;
        left: -1%; }
      .feature--dvr .feature__img img:nth-child(4) {
        top: 505px;
        left: 29%; }
      .feature--dvr .feature__img img:nth-child(5) {
        top: 378px;
        left: 95%; }
      .feature--dvr .feature__img img:nth-child(6) {
        top: 17px;
        left: 5%; }
      .feature--dvr .feature__img img:nth-child(7) {
        top: 487px;
        left: 35%; }
      .feature--dvr .feature__img img:nth-child(8) {
        top: 149px;
        left: 22%; }
      .feature--dvr .feature__img img:nth-child(9) {
        top: 353px;
        left: 78%; }
      .feature--dvr .feature__img img:nth-child(10) {
        top: 54px;
        left: 52%; }
      .feature--dvr .feature__img img:nth-child(11) {
        top: 93px;
        left: 77%; }
    @media (min-width: 769px) {
      .feature--dvr .feature__img {
        min-width: 50%; }
        .feature--dvr .feature__img img[data-speed=".1"] {
          width: 135px;
          z-index: 6; }
        .feature--dvr .feature__img img[data-speed=".2"] {
          width: 108px;
          z-index: 5; }
        .feature--dvr .feature__img img[data-speed=".3"] {
          width: 81px;
          z-index: 4; }
        .feature--dvr .feature__img img[data-speed=".4"] {
          width: 54px;
          z-index: 3; } }
  .feature--dvr .feature__text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(10, 10, 10, 0.9);
    z-index: 2; }
    @media (min-width: 769px) {
      .feature--dvr .feature__text {
        position: relative;
        align-self: center; } }

.feature--device {
  overflow-y: hidden; }
  .feature--device h1 {
    letter-spacing: 0; }
  .feature--device .single img {
    position: relative;
    left: 70%;
    margin: 40px 0 10px;
    transform: translateX(-50%); }
  .feature--device .multi {
    display: none; }
  @media (min-width: 375px) {
    .feature--device .single img {
      left: 50%; } }
  @media (min-width: 769px) {
    .feature--device .feature__img {
      order: 1;
      min-width: 50%;
      max-width: 50%;
      transform: scale(0.8);
      align-self: center; }
      .feature--device .feature__img .single {
        display: none; }
      .feature--device .feature__img .multi {
        display: block;
        position: relative;
        height: 412px; }
        .feature--device .feature__img .multi img {
          position: absolute; }
          .feature--device .feature__img .multi img:nth-child(1) {
            top: 311px;
            left: 0;
            z-index: 2; }
          .feature--device .feature__img .multi img:nth-child(2) {
            top: 145px;
            left: 125px; }
          .feature--device .feature__img .multi img:nth-child(3) {
            top: 203px;
            left: 227px;
            z-index: 2; }
          .feature--device .feature__img .multi img:nth-child(4) {
            left: 314px; } }
  @media (min-width: 1200px) {
    .feature--device .feature__img {
      transform: scale(1); } }

.bring-philo-to-you {
  padding-top: 1px;
  /*to contain margins*/ }
  .bring-philo-to-you > h1 {
    margin: 40px 0 35px;
    font-size: 25px;
    text-align: center; }
  .bring-philo-to-you .philo-for__x {
    margin-bottom: 20px;
    padding: 5px; }
    .bring-philo-to-you .philo-for__x > h2 {
      margin: 0 0 14px;
      font-size: 27px;
      font-weight: 300;
      text-align: center; }
      .bring-philo-to-you .philo-for__x > h2 > img {
        display: block;
        margin: 17px auto 4px; }
    .bring-philo-to-you .philo-for__x > img {
      width: 100%; }
    .bring-philo-to-you .philo-for__x .btn {
      width: 100%; }
  @media (min-width: 569px) {
    .bring-philo-to-you > h1 {
      margin: 70px auto;
      font-size: 48px;
      font-weight: 300; }
    .bring-philo-to-you .philo-for {
      display: flex;
      margin: 0 auto;
      max-width: 1540px; }
      .bring-philo-to-you .philo-for .philo-for__x {
        flex-basis: 50%;
        margin: 0 5px; }
      .bring-philo-to-you .philo-for .btn {
        width: auto; } }
  @media (min-width: 769px) {
    .bring-philo-to-you > h1 {
      margin: 100px auto;
      font-size: 58px; }
    .bring-philo-to-you .philo-for .philo-for__x {
      margin: 0 20px;
      padding: 0 3vw; }
      .bring-philo-to-you .philo-for .philo-for__x > h2 {
        margin: 25px 0 15px;
        font-size: 32px;
        text-align: left; }
        .bring-philo-to-you .philo-for .philo-for__x > h2 > img {
          display: inline-block;
          margin: 0 15px 0 0; }
      .bring-philo-to-you .philo-for .philo-for__x .btn {
        margin: 0 0 70px; } }
  @media (min-width: 1200px) {
    .bring-philo-to-you .philo-for .philo-for__x > h2 {
      font-size: 42px; } }

footer {
  position: relative;
  top: -1px;
  padding: 45px 20px;
  background: #0A0A0A;
  z-index: 2; }
  footer .cols {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 960px; }
    footer .cols .col {
      flex-grow: 1;
      flex-basis: 50%;
      margin-bottom: 30px;
      min-width: 140px;
      max-width: 240px; }
      footer .cols .col > li {
        font-size: 18px; }
        footer .cols .col > li > a {
          display: inline-block;
          height: 44px;
          line-height: 46px;
          font-size: 16px;
          opacity: .7; }
          footer .cols .col > li > a:hover {
            opacity: 1; }
          footer .cols .col > li > a > img {
            margin-right: 10px;
            opacity: .7; }
  footer .app-stores {
    margin: 0 -20px;
    text-align: center; }
  footer .footnote {
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    opacity: .5; }
  @media (min-width: 569px) {
    footer {
      border-top: 1px solid rgba(255, 255, 255, 0.05); }
      footer .cols .col {
        flex-basis: 25%; } }
  @media (min-width: 769px) {
    footer {
      padding-top: 100px; } }
